.Rproj.user
.Rhistory
.RData
.Ruserdata
scratch/
exploration of woodland cover.html
exploration of woodland cover.qmd
exploration-of-woodland-cover_cache
exploration-of-woodland-cover_files
hexgrid 10000 x 10000 .RData
nfi_combined_2022.RData
nfi_curation_profile.out
nfi_data_2022_curated.RData
ni2022_curated.RData
output_nfi_2022.RData
